
/**
 * Globals
 */
:root{ }

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

/**
 * Page
 */
html,
body {
  height: 100%;
  background-color: #93a0ac;
}

body {
  display: -ms-flexbox;
  display: flex;
/*  color: #fff; */
/*  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
/*  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
}

#page-container {
  max-width: 50em;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
}

pre {
  background: lightgrey;
  padding: 1em;
  font-size: 10px;
  border-radius: .3em;
  box-sizing: border-box;
}

/**
 * Header
 */
#content {
  /*max-width: 750px;*/
}
.navbar.bg-dark {
  background: #2d3135 !important;
}
.navbar.bg-dark .navbar-nav .nav-link {
  color: white;
}
.navbar.bg-dark .navbar-nav .nav-link:hover {
  color: #ffc423;
}
.navbar-brand img {
  height: 60px;
  vertical-align: text-bottom;
}
.nav-pills .nav-link.active {
  background-color: #2d3135;
}
.footer {
  background-color: #2d3135;
  color: white;
  padding: 1rem;
}

/**
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/**
 * Footer
 */
.footer {
  color: rgba(255, 255, 255, .5);
}

/**
 * App Info Cards
 */
.appinfo-card, .list-group-item {
  background-color: rgba(255, 255, 255, .1);
}
.app-tags {
  position: left;
  text-shadow: none;
}

/**
 * Random elements
 */

/**
 * Dark Modals
 */
.modal-content, .modal-title, .modal-header, .modal-body, .modal-footer {
  background: var(--dark);
  color: var(--white);
}
.modal-body input {
  background: var(--dark);
  color: var(--white);
}
.modal-body .form-group {
  margin-bottom: 0.2em;
}
.modal-body  .list-group-item {
  background: var(--dark);
  color: var(--white);
  border: none;
}


/**
 * Material Icons Sizing
 */
/* .material-icons { font-size: inherit; } */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/**
 * Material Icons Config
 */

